html, body {
	font-family: "Roboto", "Noto Sans KR", sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	display: block;
}

.wrap {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

.bgtext {
	text-indent: -9999px;
}

/* header */

.header {
	background-color: transparent;
}

.header .inner {
	max-width: 1300px;
	height: 80px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
}

.header .inner h1 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: 1px;
	opacity: .7;
	color: #565656;
}

.header .inner h1:hover {
	opacity: 1;
}

.header .inner .menu li a {
	padding: 10px 5px;
	font-size: 1.2em;
	font-weight: 500;
	opacity: .7;
	color: #565656;
}

.header .inner .menu li:hover a {
	opacity: 1;
}

.header .inner .menu {
	display: flex;
	gap: 20px;
}

/* navigation */
.nav {
	max-width: 1300px;
	height: 40px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav > a {
	font-size: 1em;
	color: #565656;
	opacity: .7;
	padding: 10px 0;
}

.nav > a:hover {
	opacity: 1;
}

/* main */
.main {
	border-bottom: 1px solid #565656;
	overflow: hidden;
}

.main .inner {
	max-width: 1300px;
	height: calc(100vh - 180px);
	/* background-color: purple; */
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main .inner .figures {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
}

.main .inner .figures img {
	margin: 0 auto;
}

.main .inner .figures .main-name {
	margin-top: 20px;
	font-size: 5em;
	font-weight: 700;
}

.main .inner .figures figcaption.one {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background-image: url("../images/update-text.png");
	transform: translate(30px, -100px);
}

.main .inner .figures figcaption.two {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 200px;
	background-image: url("../images/lotto-text.png");
	transform: translateX(-30px);
}


/* footer */

.footer {
	background-color: #fff;
}

.footer .inner {
	max-width: 1300px;
	height: 60px;
	background-color: #fff;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}


