:root {
  --backcolor: #1C1C1B;
  /* --backcolor: #292929; */
  /* --fontcolor:  #CE4A7E; ;  */
  /* --fontcolor: #F9D142; */
  --fontcolor: rgb(255, 235, 205);
}

/* #262223;
#CE4A7E; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.inner-head {
  width: 100vw;
  height: 80px;
  background-color: var(--backcolor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  border-bottom: 1px solid rgb(255, 235, 205);
}

.inner-head h1 {
  font-size: 2rem;
  color: var(--fontcolor);
}

.inner-head .menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 25px;
}

.dropbtn {
  background-color: inherit;
  display: flex;
  align-items: center;
  color: var(--fontcolor);
  padding: 10px 5px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.drop-menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #1C1C1B;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.8;
}

.dropdown-content a:hover {
  background-color: #ddd;
  opacity: 1;
}

.drop-menu:hover .dropdown-content {
  display: block;
}

.drop-menu:hover .dropbtn {
  background-color: var(--backcolor);
}

.menu .share {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  color: var(--fontcolor);
  cursor: pointer;
}

.menu .menu-icon {
  display: none;
}


@media (max-width: 768px) {
  .inner-head h1 {
    font-size: 1.5rem;
  }
  .dropbtn {
    font-size: 0.8rem;
  }
  .menu .share {
    font-size: 0.8rem;
  }
  .dropdown-content a {
    font-size: 0.8rem;
  }
}


/* main */
.inner-main {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--backcolor);
}

.inner-main .description {
  text-align: center;
  line-height: 1.3;
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: 400;
  color: var(--fontcolor);
}

.inner-main .description h2 {
  font-weight: 300;
}

.inner-main .description span {
  font-size: 6rem;
  color: #f1f1f1;
}

.inner-main .search-box .input-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inner-main .search-box .input-box h3 {
  color: rgb(255, 235, 205);
  font-size: 1rem;
}

.inner-main #auto-result {
  width: 100%;
  background-color: orange;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: -15px;
}

.plus-item {
  display: inline-block;
  width: 100%;
  padding: 10px 10px;
  background-color: #fff;
  text-decoration: none;
  color: black;
  margin-top: -20px;
}

.plus-item:hover {
  color: black;
}























.InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  /* padding-left: 15px; */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  position: relative;
  z-index: 10;
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(255, 81, 0);
  padding: 5px 10px;
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.searchIcon {
  width: 13px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}

.micIcon {
  width: 12px;
}

.micButton {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: .3s;
}

.searchIcon path {
  fill: rgb(114, 114, 114);
}

.micIcon path {
  fill: rgb(255, 81, 0);
}

.micButton:hover {
  background-color: rgb(255, 230, 230);
  transition-duration: .3s;
}

@media (max-width: 768px) {
 .inner-main {
  padding: 20px 30px;
 } 
 .inner-main .description {
  font-size: 1.2rem;
 }
 .inner-main .search-box .input-box h3 {
  font-size: 0.7rem;
 }
 .inner-main .description span {
  font-size: 3rem;
 }
}