
.principal-of-interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.principal-of-interest table {
  border: 1p solid black;
  border-collapse: collapse;
}

.principal-of-interest td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
}

.principal-of-interest button {
  border-radius: 4px;
  background-color: #3d405b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  width: 10rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.principal-of-interest button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.principal-of-interest button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
.principal-of-interest button:hover span {
  padding-right: 1rem;
 }
 
.principal-of-interest button:hover span:after {
  opacity: 1;
  right: 0;
 }